// // chat left sidebar
.email-menu-sidebar {
  height: calc(100vh - 160px);
  position: relative;
  transition: all 0.2s;
  background: var(--#{$prefix}email-sidebar-bg);

  .simplebar-content {
    height: 100%;
  }
}
.email-menu-sidebar-scroll {
  height: calc(100vh - 170px);

  @media (max-width: 991.98px) {
    height: calc(100vh - 80px);
  }
}

.email-detail-card {
  position: relative;
  .ckeditor-wrapper .ck.ck-content.ck-editor__editable_inline {
    min-height: 100px !important;
    width: 100%;
  }

  .email-message-text-editor {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.email-detail-content-scroll {
  height: calc(100vh - 330px);

  @media (max-width: 1349.98px) {
    height: calc(100vh - 300px);
  }
}

.message-list-content {
  height: calc(100vh - 250px);
}

.email-chat-detail {
  position: fixed;
  max-width: 100%;
  bottom: calc($footer-height + 10px);
  right: $footer-height;
  z-index: 9;

  @media (max-width: 515.98px) {
    left: 16px;
    right: 16px;
  }
}

.ckeditor-wrapper {
  .ck.ck-content.ck-editor__editable_inline {
    min-height: 250px !important;
  }
}

[data-layout="horizontal"] {
  .email-details-navigation-drawer {
    top: 115px !important;
  }
  .email-detail-content-scroll {
    height: calc(100vh - 360px);
  }
}
